Source: #PACKAGE#
Section: misc
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: nodejs, ${buildDepends}, #BUILD_DEPS#
Standards-Version: #POLICY#

Package: #PACKAGE#
Architecture: ${arch}
Depends: #PACKAGE#${debianNameSuffix}, ${shlibs:Depends}, ${misc:Depends}
XB-Conductor-Package: #PACKAGE#
Description: ${shortdesc}
 ${longdesc}

Package: #PACKAGE#${debianNameSuffix}
Architecture: ${arch}
Depends: ${depends}, ${shlibs:Depends}, ${misc:Depends}
XB-Conductor-Package: #PACKAGE#-
Description: ${shortdesc}
 ${longdesc}
