#!/usr/bin/make -f

NPM_PACKAGE=${pkg}
NPM_VERSION=${ver}
PACKAGE=${debianName}
PACKAGE_VERSIONED=${debianNameVersioned}
ROOT=./debian/$(PACKAGE)
ROOT_VERSIONED=./debian/$(PACKAGE_VERSIONED)
NODE_PREFIX=$(ROOT)/usr
NODE_PREFIX_VERSIONED=$(ROOT_VERSIONED)/usr

%:
	dh $@

override_dh_auto_build:
	cp debian/dirs.in debian/$(PACKAGE_VERSIONED).dirs
	npm build
	npm install --dev

override_dh_auto_test:
	npm test

override_dh_auto_install:
	npm install --global --prefix $(NODE_PREFIX) .
	# move module
	mv $(NODE_PREFIX)/lib/node_modules/$(NPM_PACKAGE) $(NODE_PREFIX_VERSIONED)/lib/node/$(NPM_PACKAGE)@$(NPM_VERSION)

clean:
	-rm -f debian/$(PACKAGE)-*.dirs
	${cleanCmd}
	dh clean
