#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

PACKAGE=${debianName}
ROOT=./debian/$(PACKAGE)
NODE_PREFIX=$(ROOT)/usr

common-install-prehook-impl::
	cp debian/npmignore.in .npmignore

binary-install/${debianName}::
	npm install --global --prefix $(NODE_PREFIX) .
