#!/usr/bin/make -f

NODE_PREFIX=debian/${debianName}/usr

%:
	dh $@

build:
	dh build --before dh_auto_build
	npm build
	npm install --dev
	npm test
	dh build --after dh_auto_test

install:
	dh install --before dh_auto_install
	dh install --after dh_auto_install
	dh install --before install
	npm install --global --prefix $(NODE_PREFIX) .
	dh install --after install

binary: install
	dh binary

clean:
	${cleanCmd}
	dh clean
